@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #f8fafc;
  /* Slate 50 */
  --foreground: #1e293b;
  /* Slate 800 */
}

body {
  @apply bg-[color:var(--background)] text-[color:var(--foreground)] antialiased overflow-hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  /* Slate 300 */
  border-radius: 4px;
}